/home/ankit/Desktop/url-shortner/Python/Flask/Url-Shortner/api/controllers/__pycache__
/home/ankit/Desktop/url-shortner/Python/Flask/Url-Shortner/api/models/__pycache__
/home/ankit/Desktop/url-shortner/Python/Flask/Url-Shortner/api/system/__pycache__
